body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
#visible-body{
    height: 706px;
    width: 1075px;
    margin: auto;
    position: relative;
}
#nav-bar-with-logo{
    margin-top: 20px;
    height: 50px;
    width: 1075px;
    display: flow-root;
    float: auto;
    top: 60px;
}
.nav-bar-option{
    margin-left: 30px;
    float: left;
}
#top-nav-bar-options{
    float: right;
    width: 400px;    
}
.main-body{
    position: relative;
    height: 590px;
    width: 1075px;
}
#profile-name{
    width: 355px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
#description-field{
    width: 642px;
    height: 561px;
    margin-left: auto;
}
#name-image{
    float: left;
}
#icon-container{
    width: 55px;
    float: left;
}
#icon-container .icon-box:not(:hover){
    background-color:#202020 ;
}
#icon-container .icon-box:hover{
    background-color: black;
}
.icon-box{
    height: 58px;
    width: 54px;
    align-content: center;
    margin-bottom: 3px;
}
.icons{
   margin: auto;
   display: block;
}
.spaceholder{
    height: 208px;
    width: 54px;
    background-color: #202020;
}
#description{
    background-color: black;
    float: right;
    width: 587px;
    height: 574px;
    position: relative;
}
#description-icon{
    width: 24px;
    padding: 15px;
    margin: 10px;
    float: left;
}
.description-headline{
    margin: 20px 20px 20px 5px;
    width: 170px;
    float: left;
    text-align: center;
    border-left: 3px solid;
    border-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#Crown-cement-factory-pic{
    display: block;
    margin: auto;
    padding: 40px;
}
#description-text{
    width: 480px;
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
}